{% extends "base.html" %}

{% block body %}

    {% if pages %}
        <h2>Last page updates</h2>
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ url_for("view", name=page.name) }}">{{page.name}}</a>,
                    "{{page.latest_version.title}}" (rev {{page.latest_version.rev}})
                </li>
            {% endfor %}
        </ul>        
    {% endif %}

    <h2>Tags</h2>
    {% for tag in tags %}
        <a href="{{ url_for("tag", name=tag) }}">{{tag}}</a>,
    {% endfor %}
    
    <h2>Create a page</h2>
    <form action="{{ url_for("edit") }}">
        <input name="name"/>
        <input type="submit" value="Create"/>
    </form>
{% endblock body %}

